@import "tailwindcss";

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.SignOut-icon {
  cursor: pointer;
  font-size: 1.5625rem;
  color: white;
}

* {
  box-sizing: border-box;
  margin-left: 0;
  

}